body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('assets/images/bg-images/backgroundimg.webp') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    min-height: 100vh;
    color: #fff;
}

.container {
    margin-top: 28px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.85);
    /* slightly transparent */
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.form-section {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    color: #ffff00;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

input,
select {
    padding: 22px;
    background-color: #333;
    color: white;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.row-group-Container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.row-group {
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.row-group label {
    width: 100%;
    color: #ffff00;
    margin-top: 10px;
}

.row-group input {
    width: 7%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #333;
    color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-section input[type="text"],
.form-section input[type="number"],
.form-section input[type="email"],
.form-section input[type="tel"],
.form-section select {
    background-color: #333;
    color: white;
    padding: 13px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.checkbox-group,
.radio-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    border: #fff;
}

input[type="checkbox"] {
    transform: scale(2.7);
    margin-right: 8px;
    margin-left: 22px;
}

.checkbox-group label {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Montserrat, sans-serif;
    line-height: 24px;
    font-weight: 300;
}

.radio-group label {
    color: rgb(255, 255, 255);
}

input[type="range"] {
    width: 92%;
    margin-top: 10px;
}

p {
    color: #ffff00;
}

.submit-btn {
    border: none;
    outline: none;
    margin-top: 20px;
    background-color: #ffD200;
    color: white;
    border-radius: 1px solid;
    border-color: white;
    padding: 12px 25px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
}

.chart-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: #000;
    background-color: white;
    padding: 20px;
    height: 30%;
    margin-top: 60px;
    justify-content: center;
}

canvas {
    width: 100%;
    max-height: 350px;
}

.error-msg {
    color: red;
    font-size: 14px;
    margin: 5px 0 0;
}

@media (max-width: 768px) {
    body {
        background-position: top center;
        background-size: cover;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .chart-section {
        margin-top: 20px;
        height: 60%;
        margin-bottom: 200px;
    }

    .row-group-Container {
        flex-direction: row;
    }

    .row-group input {
        width: 10%;
    }

    .checkbox-group,
    .radio-group {
        flex-direction: row;
    }
}

header {
    position: fixed;
    font-size: 15px;
    padding: 0px 62px;
    background-color: #333333 !important;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 999;
}


nav {
    display: flex;
    align-items: center;
}

ul {
    align-items: center;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
}

.btn-container {
    padding: 0px;
    cursor: auto;
}

.btn-container button {
    height: 44px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background-color: #ffD200;
    padding: 0 24px;
    color: white;
    font-weight: 600;
    margin-left: 20px;
    cursor: pointer;
}

.btn-container button:hover {
    background-color: #ffdf51;
}

.menu-toggle {
    display: none;
    font-size: 18px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: fit-content;
}

#logo img {
    padding-top: 10px;
    width: 100px;
}

#logo img:hover {
    opacity: 0.7;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

nav a:hover {
    color: #ffD200;
}

@media (max-width: 970px) {
    header {
        padding: 12px 20px;
        background-color: transparent;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        background: #222222;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        display: none;
        gap: 0px;
    }

    nav.active {
        display: flex;
    }

    ul {
        width: 100%;
        align-items: start;

        flex-direction: column;
        gap: 10px;
        padding: 12px 0;

    }

    li {
        padding: 12px 40px;
    }

    .btn-container button {
        margin-left: 40px;
        background-color: transparent;
        padding: 0 0;
        color: white;
        font-weight: 500;
    }

    .menu-toggle {
        display: block;
        padding: 0;
        margin: 0;
    }

    img {
        width: 150px;
    }

    .btn-container {
        width: 100%;
        margin-bottom: 30px;

    }

    nav a {
        padding: 0px;
        width: 100%;
    }
}
*{
    box-sizing: border-box;
}